<ul>
  <h1>{{header}}</h1>
  <li>Q: {{question.inquiry}}</li>
  <h3>{{#link-to 'question' question.id}}Read&#x2660;More{{/link-to}}</h3>
  <!-- {{update-question question=question update="update"}} -->
</ul>
