@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$violet: #B7ADCF;

body {
  width: 100%;
  text-align: center;
}

h1,
h2 {
  font-family: 'Dancing Script', cursive;
}

li {
  list-style-type: none;
}

a {
    font-family: 'Dancing Script', cursive;
}

footer {
  font-family: 'Dancing Script', cursive;
}

.jumbotron {
     background-color: $violet;
}
