@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

$violet: #B7ADCF;
$gray: #CCD7E4;
$sky: #009FB7;

body {
  width: 100%;
  text-align: center;
}

button {
  margin-top:2%;
  border: none;
  background-color: $violet;
}

h1 {
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-family: 'Dancing Script', cursive;
  color: $sky;
}

li {
  list-style-type: none;
}

a {
  font-family: 'Dancing Script', cursive;
}

footer {
  font-family: 'Dancing Script', cursive;
}

image {
  width: 200px;
  border-radius: 50%;
}

.container {
  margin: 5%;
}

.jumbotron {
  background-color: $violet;
}
