<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>{{#link-to 'favorite'}}favorites&hearts;{{/link-to}}</h3>
      <a class="navbar-brand" href="/#">home&#x2663;</a>
      <a class="navbar-brand" href="/contact">contact&#x2666;</a>
    </div>
  </div>
</nav>
<header class="jumbotron">
  <h1>code&#x2654;queens</h1>
</header>
<hr>
{{outlet}}
<hr>
<footer>
  &copy; code&#x2654;queens 2016
</footer>
