<header class="jumbotron">
  <h1>contact yours truly&hearts;</h1>
</header>

<h2>&#x2709; <a href="mailto:megan.kaluza@gmail.com">megan.kaluza</a></h2>
<h2>&#x260F; 503-555-5555</h2>
<h2>&#x26AD; <a href="https://www.linkedin.com/in/megan-kaluza-17831bb5" target=_blank>LinkedIn</a></h2>
