<div class="contact">
  <h3>&#x2709; <a href="mailto:megan.kaluza@gmail.com">megan.kaluza</a></h3>
  <img src="http://data.whicdn.com/images/265329694/large.png" alt="Avatar" width="200px">
  <h3>&#x26AD; <a href="https://www.linkedin.com/in/megan-kaluza-17831bb5" target=_blank>LinkedIn</a></h3>
  <h3>&#x260F; 503-555-5555</h3>
</div>
