<header class="jumbotron">
  <h1>contact yours truly&hearts;</h1>
</header>

<h2>email:</h2><p>megan.kaluza@gmail.com</p>
<h2>phone:</h2><p>503-555-5555</p>
<a href="https://www.linkedin.com/in/megan-kaluza-17831bb5" target=_blank>LinkedIn</a>
