<header class="jumbotron">
  <h1>code&#x2654;queens</h1>
</header>

<hr>
<h2>tell us your problem and a queen will grant your solution..</h2>
<hr>

<div class="container">
<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>
{{new-question saveQuestion2="saveQuestion3"}}
</div>
