<header class="jumbotron">
  <h1>CodeQueens</h1>
</header>

<hr>
<h2>Input a question | | Output an Answer</h2>
<hr>

<div>
<ul>
  {{#each model as |question|}}
    <li><h1>{{question.title}}</h1></li>
    <li>{{question.question}}</li>
    <!-- <li><img src="{{question.image}}" alt="Image" width="400px"></li> -->
    {{question-tile question=question}}
  {{/each}}
</ul>
</div>

{{#link-to 'contact'}}Contact Us{{/link-to}}
