<header class="jumbotron">
  <h1>code&#x2654;queens</h1>
</header>

{{question-detail question=model update="update"}}


<div>
<ul>
  {{#each model as |question|}}
    <li><h1>{{question.title}}</h1></li>
    <li>{{question.question}}</li>
    {{question-tile question=question update="update"}}
  {{/each}}
</ul>
</div>
